<div id="desktopNav">
  <div id="desktopNav-left">
    <img src="/images/logo.jpeg" alt="">
    <h4 class="text-white">HR Edge</h4>
  </div>
  <div id="desktopNav-center">
    <i class="ri-search-line"></i>
    <input type="text" placeholder="Search...">
    <i class="ri-close-line"></i>
  </div>
  <div id="desktopNav-right">
    <i class="ri-notification-2-line"></i>
    <div class="desktopNav-right-name">
      <img src="/images/ashish.jpg" alt="">
      <h4 class="text-white">Ashish</h4>
    </div>
  </div>
</div>

<div id="aside">
  <a href="/dashboard" class="asidePostion">
    <h3>Dashboard</h3>
  </a>
  <a href="/report_user" class="asidePostion">
    <h3>User Summery</h3>
  </a>
  <a href="/attendanceSelfie" class="asidePostion">
    <h3>Attendance</h3>
  </a>
  <div class="dropdown">
    <button class="dropbtn">Salary<i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></button>
    <div class="dropdown-content">
      <a href="/payRollForUser">Generate Salary</a>
      <p class="applyForLoan">Apply For Loan</p>
      <p class="applyForArrears">Apply Arrears</p>
      <p class="applyForReimburshment">Apply Reimburshment</p>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Track Meeting<i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></button>
    <div class="dropdown-content">
      <p class="attendanceForMeeting">Meeting-In</p>
      <p class="attendanceForMeetingOut">Meeting-Out</p>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Leave<i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></button>
    <div class="dropdown-content">
      <p id="openLeaveBtn1">Leave Application</p>
      <a href="/leaveTableuser">Leave List</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Travel Allowances<i class="ri-arrow-down-s-line"></i><i
        class="ri-arrow-up-s-line"></i></button>
    <div class="dropdown-content">
      <a href="/travelDistance">TA Report</a>

    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Office Letter<i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></button>
    <div class="dropdown-content">
      <p class="offerForletter">Generate Offer Letter</p>
      <p class="terminationForletter">Termination Letter</p>
      <p class="appointmentForLetter">Appointment Letter</p>
      <p class="confirmationForLetter">Confirmation Letter</p>
    </div>
  </div>

</div>



<div id="phone-siderbar1">


  <a class="elems">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/salary.png" alt="">
      </div>
      <h4>Generate Salary</h4>
    </div>
  </a>
  <a class="elems applyForLoan">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/signing.png" alt="">
      </div>
      <h4>Apply For Loan</h4>
    </div>
  </a>
  <a class="elems applyForArrears">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/money.png" alt="">
      </div>
      <h4>Apply Arrears</h4>
    </div>
  </a>
  <a class="elems applyForReimburshment">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/loan.png" alt="">
      </div>
      <h4>Apply Reimburshment</h4>
    </div>
  </a>

  <a class="elems attendanceForMeeting">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/two-businessmen-in-meeting.png" alt="">
      </div>
      <h4>Meeting-In</h4>
    </div>
  </a>
  <a class="elems attendanceForMeetingOut">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/time-out.png" alt="">
      </div>
      <h4>Meeting-Out</h4>
    </div>
  </a>
  <a id="openLeaveBtn2" class="elems">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/to-do-list.png" alt="">
      </div>
      <h4>Leave Application</h4>
    </div>
  </a>
  <a href="/leaveTableuser" class="elems">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/checklist.png" alt="">
      </div>
      <h4>Leave List</h4>
    </div>
  </a>
  <a href="/travelDistance" class="elems">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/pie-chart.png" alt="">
      </div>
      <h4>TA Report</h4>
    </div>
  </a>
  <a class="elems offerForletter">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/cover-letter.png" alt="">
      </div>
      <h4>Generate Offer Letter</h4>
    </div>
  </a>
  <a class="elems appointmentForLetter">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/appointment.png" alt="">
      </div>
      <h4>Appointment Letter</h4>
    </div>
  </a>
  <a class="elems confirmationForLetter">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/european-conformity.png" alt="">
      </div>
      <h4>Conformation Letter</h4>
    </div>
  </a>
  <a class="elems terminationForletter">
    <div class="icon-container">
      <div class="icons">
        <img src="/images/letter.png" alt="">
      </div>
      <h4>Termination Letter</h4>
    </div>
  </a>
</div>




{{!-- Dashboard Style --}}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic', sans-serif;
  }

  html,
  body {
    height: 100%;
    width: 100%;
  }

  #desktopMain {
    display: none;
  }

  @media(min-width:768px) {
    #desktopMain {
      height: 100%;
      width: 100%;
      display: inherit;
    }

    #desktopNav {
      /* height: 80px; */
      width: 100%;
      background-color: #704264;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;
    }

    #desktopNav-left {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
      padding-right: 20px;
    }

    #desktopNav-left img {
      height: 40px;
      width: 40px;
    }

    #desktopNav-center::before {
      content: '';
      position: absolute;
      left: -16px;
      top: 16px;
      height: 2px;
      rotate: 90deg;
      width: 31px;
      background-color: #ffffff40;
    }

    #desktopNav-center {
      width: 80%;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 25px;

    }

    #desktopNav-center::after {
      content: '';
      position: absolute;
      right: -16px;
      top: 16px;
      height: 2px;
      rotate: 90deg;
      width: 31px;
      background-color: #ffffff40;
    }

    #desktopNav-center .ri-search-line {
      position: absolute;
      left: 32px;
      color: #000;
      font-size: 20px;
    }

    #desktopNav-center input {
      width: 100%;
      height: 35px;
      border-radius: 6px;
      padding: 0 35px;
      outline: none;
      border: none;
    }

    #desktopNav-center .ri-close-line {
      position: absolute;
      right: 32px;
      color: #000;
      font-size: 20px;
    }

    #desktopNav-right {
      display: flex;
      align-items: center;
      gap: 15px;
      color: #fff;
      padding-left: 20px;
    }

    #desktopNav-right img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

    #desktopNav-right .ri-notification-2-line {
      font-size: 18px;
    }

    .desktopNav-right-name {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    #aside {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      background-color: #bb8493;;
      padding: 15px 0;
      position: relative;
    }



    #aside a {
      text-decoration: none;
    }

    .asidePostion h3 {
      color: #fff;
      font-weight: 400;
      font-size: 1.1vw;
      margin: 0;
    }


    .dropbtn {
      color: #fff;
      font-size: 1.1vw;
      border: none;
      cursor: pointer;
      background: none;

    }

    .dropbtn .ri-arrow-down-s-line {
      display: inherit;
    }

    .dropbtn .ri-arrow-up-s-line {
      display: none;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .dropdown-content p {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
    }

    .dropdown-content a {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background: #704264;
    }

     .dropdown-content p:hover {
      background: #704264;
    }

    .dropdown-content {
      overflow: hidden;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      z-index: 999;
      background: #BB8493;
    }

    .dropdown:hover .ri-arrow-up-s-line {
      display: inherit;
    }

    .dropdown:hover .ri-arrow-down-s-line {
      display: none;
    }

    .cards-sections {
      margin: 30px 30px;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .card-container {
      .card-container {
        color: black;
        /* width: 35%; */
        /* background-color: #fff; */
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        /* border-radius: 6px; */
        /* overflow: hidden; */
        position: relative; 
      }
    }


    .card-container img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .card-text {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 10px;
    }

    .card-text h1 {
      color: #000;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .nc-container {
      display: flex;
      margin-right: 40px;
      padding-bottom: 20px;
      justify-content: center;
    }

    .notification-content h2 {
      color: #000;
    }

    .notification-content p {
      color: #000;
    }


    .notification-container h1 {
      margin-left: 11px;
      color: #000;
    }

    .text-black {
      margin-top: 26px;
    }

    .text-black h3 {
      font-size: 16px;
      color: #000;
      font-weight: 400;
    }

    #quote-text {
      font-size: 16px !important;
      color: #fff;
      font-weight: 300;
      margin: 5px 0;
      line-height: 1;
    }

    #quote-author {
      font-size: 14px;
      color: #fff;
      position: absolute;
      top: 157px;
    }

    .attendance-records {
      margin-top: 26px;
    }

    .attendance-records h4 {
      font-size: 18px;
      color: #fff;
      margin: 10px 0;
      font-weight: 600;
    }

    #notification {
      position: relative;
      overflow: hidden;
      margin-top: 20px;
    }

    .slider1 {
      display: flex;
      transition: transform 0.5s ease;
    }

    .notification-scroller {
      flex-shrink: 0;
      margin: 0 10px;
      width: 97%;
      height: 100px;
      border-radius: 10px;
    }

    .dots-container1 {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .scroller-dots1 {
      width: 7px;
      height: 7px;
      background-color: #bbb;
      border-radius: 50%;
      margin: 0 2px;
      cursor: pointer;
    }

    .scroller-dots1.active {
      background-color: #333;
    }

    .notification-content {
      margin-top: 13px;
    }

    .calender-body {
      box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
      background-color: #fff;
      left: 38px;
      border-radius: 7px;
    }

    /*  .graph {
      position: relative;
      bottom: 154px;
    }

    @media (min-width: 280px) and (max-width: 700px) {
      .graph {
        position: relative;
        bottom: 0px !important;
      }
    } */

    :root {
      --dark-body: #4D4C5A;
      --dark-main: #141529;
      --dark-second: #79788C;
      --dark-hover: #323048;
      --dark-text: #F8FBFF;

      --light-body: #F3F8FE;
      --light-main: #FDFDFD;
      --light-second: #C3C2C8;
      --light-hover: #EDF0F5;
      --light-text: #151426;

      --green: #03C988;
      --white: #fff;

      --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      --font-family: cursive;
    }

    .dark {

      --bg-body: var(--light-body);
      --bg-main: var(--light-main);
      --bg-second: var(--light-second);
      --color-hover: var(--light-hover);
      --color-txt: var(--light-text);
    }

    .light {
      --bg-body: var(--dark-body);
      --bg-main: var(--dark-main);
      --bg-second: var(--dark-second);
      --color-hover: var(--dark-hover);
      --color-txt: var(--dark-text);
    }

    .calendar {
      height: max-content;
      background-color: var(--bg-main);
      border-radius: 21px;
      position: relative;
    }

    .light .calendar {
      box-shadow: var(--shadow);
    }

    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
      color: var(--color-txt);
      padding: 0px;
    }

    .calendar-body {
      padding: 0px;
    }

    .calendar-week-day {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      font-weight: 600;
      height: 50px;
    }

    .calendar-week-day div {
      display: grid;
      place-items: center;
      color: #000;
    }

    .calendar-day {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 2px;
      color: #000;
    }

    .calendar-day div {
      width: 6vw;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      position: relative;
      cursor: pointer;
      animation: to-top 1s forwards;
      color: #000;
    }

    pre {
      color: #000;
    }



    .month-picker {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
    }

    .month-picker:hover {
      background-color: var(--color-hover);
    }

    .year-picker {
      display: flex;
      align-items: center;
    }

    .year-change {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      cursor: pointer;
    }

    .year-change:hover {
      background-color: var(--color-hover);
    }

    .calendar-footer {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .toggle {
      display: flex;
    }

    .toggle span {
      margin-right: 10px;
      color: var(--color-txt);
    }

    .dark-mode-switch {
      position: relative;
      width: 48px;
      height: 25px;
      border-radius: 14px;
      background-color: var(--bg-second);
      cursor: pointer;
    }

    .dark-mode-switch-ident {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: var(--bg-main);
      position: absolute;
      top: 2px;
      left: 2px;
      transition: left 0.2 ease-in-out;
    }

    .dark .dark-mode-switch .dark-mode-switch-ident {
      top: 2px;
      left: calc(2px + 50%);
    }

    .calendar-day div span {
      position: absolute;
    }

    .calendar-day div:hover span {
      transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    }

    .calendar-day div span:nth-child(1),
    .calendar-day div span:nth-child(3) {
      width: 2px;
      height: 0;
      background-color: var(--color-txt);
    }

    .calendar-day div:hover span:nth-child(1),
    .calendar-day div:hover span:nth-child(3) {
      height: 100%;
    }

    .calendar-day div span:nth-child(1) {
      bottom: 0;
      left: 0;
    }

    .calendar-day div span:nth-child(3) {
      top: 0;
      right: 0;
    }

    .calendar-day div span:nth-child(2),
    .calendar-day div span:nth-child(4) {
      width: 0;
      height: 2px;
      background-color: var(--color-txt);
    }

    .calendar-day div:hover span:nth-child(2),
    .calendar-day div:hover span:nth-child(4) {
      width: 100%;
    }

    .calendar-day div span:nth-child(2) {
      top: 0;
      left: 0;
    }

    .calendar-day div span:nth-child(4) {
      bottom: 0;
      right: 0;
    }

    .calendar-day div:hover span:nth-child(2) {
      transition-delay: 0.2s;
    }

    .calendar-day div:hover span:nth-child(3) {
      transition-delay: 0.4s;
    }

    .calendar-day div:hover span:nth-child(4) {
      transition-delay: 0.6s;
    }

    .calendar-day div.currDate {
      background: #704264;
      color: var(--white);
      clip-path: circle(27%);
    }

    .calendar-day div.currDate span {
      display: none;
    }

    .month-list {
      position: absolute;
      height: 100%;
      top: 0;
      left: -6;
      background-color: var(--bg-main);
      color: var(--color-txt);
      display: grid;
      grid-template-columns: repeat(3, auto);
      visibility: hidden;
      pointer-events: none;
    }

    .month-list.show {
      transform: scale(1);
      visibility: visible;
      pointer-events: visible;
      transition: all 0.2s ease-in-out;
      background-color: #fff;
      width: -webkit-fill-available;

    }

    .month-list>div {
      display: grid;
      place-items: center;
    }

    .month-list>div>div {
      width: 100%;
      padding: 5px 20px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
    }

    .month-list>div>div:hover {
      background-color: var(--color-hover);
    }

    .sunday {
      background-color: red;
      color: #fff !important;
      font-weight: 600;
      clip-path: circle(27%);
    }

    @keyframes to-top {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .card-bx-1 {
      padding: 0 7px;
    }

    p {
      line-height: 1.3;
      margin-bottom: 10px;
    }

    #form-container {
      display: none;
    }

    #attManualForm {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 5px;
      width: 40%;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      overflow: hidden;
    }

    #leaveManual {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border-radius: 5px;
      width: 40%;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      overflow: hidden;
    }

    .attLeaveForm-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #704264;
      color: #fff;
      padding: 7px 20px;
    }

    .title {
      font-size: 24px;
      font-weight: 600;
    }

    .form {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .group {
      position: relative;
      width: 50%;
    }

    .form .group label {
      font-size: 14px;
      color: rgb(99, 102, 102);
      position: absolute;
      top: -10px;
      left: 10px;
      background-color: #fff;
      transition: all .3s ease;
    }

    .form .group input,
    .form .group select,
    .form .group textarea {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      outline: 0;
      width: 100%;
      background-color: transparent;
      font-size: 12px;
    }

    .form .group input:placeholder-shown+label,
    .form .group textarea:placeholder-shown+label {
      top: 10px;
      background-color: transparent;
    }

    .form .group input:focus,
    .form .group textarea:focus {
      border-color: #3366cc;
    }

    .form .group input:focus+label,
    .form .group textarea:focus+label {
      top: -10px;
      left: 10px;
      background-color: #fff;
      color: #3366cc;
      font-weight: 600;
      font-size: 14px;
    }

    .form .group textarea {
      resize: none;
      height: 40px;
    }



    #attManualForm {
      width: 95%;
    }

    #leaveManual {
      width: 95%;
    }

    .title {
      font-size: 14px;
    }




    #form-container {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 148px;
      width: 90%;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 5px;
      overflow: hidden;

    }

    #top-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #704264;
      padding: 0 10px;
      color: #fff;
    }

    #center {
      text-align: center;
      margin: 10px 0px;
    }

    #dialogDate {
      margin-bottom: 10px;
      font-weight: 600;
    }

    .form-center-button {
      border: none;
      background: #704264;
      color: #fff;
      border-radius: 5px;
      padding: 7px 15px;
      margin: 5px 7px;
      font-size: 12px;
      font-weight: 600;
    }

    .form-button {
      border: none;
      background: #704264;
      color: #fff;
      border-radius: 5px;
      padding: 7px 15px;
      margin: 5px 7px;
      font-size: 12px;
      font-weight: 600;
      width: 20%;
    }


  }
</style>
<style>
  #phone-siderbar1 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 12px;
    display: flex;
    white-space: nowrap;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }

  .elems {
    text-decoration: none;
    color: #000;
    width: 30%;
    cursor: pointer;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
  }

  .icons {
    align-self: center;
    background-color: #704264;
    background-image: url();
    width: fit-content;
    clip-path: circle();
    padding: 3px;
  }


  .icon-container img {
    display: flex;
    width: 30px;
    padding: 5px;
    object-fit: cover;
  }

  .icon-container h4{
    margin-top: 8px !important;
    font-weight: bold;
  }

  #phone-siderbar1 h4 {
    margin: 0;
    font-size: 12px;
    text-align: center;
  }
</style>