<div id="preloader">
  <div class="waviy">
    <span style="--i:1">L</span>
    <span style="--i:2">o</span>
    <span style="--i:3">a</span>
    <span style="--i:4">d</span>
    <span style="--i:5">i</span>
    <span style="--i:6">n</span>
    <span style="--i:7">g</span>
    <span style="--i:8">.</span>
    <span style="--i:9">.</span>
    <span style="--i:10">.</span>
  </div>
</div>
<div id="partial"></div>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/userdashboard">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/report_user">
        <span class="menu-title"> User Summary</span>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/attendanceSelfie">
        <span class="menu-title">Attendance</span>
        <i class="mdi mdi-camera menu-icon"></i>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link "  data-bs-toggle="collapse" href="#ui9-basic" aria-expanded="false" aria-controls="ui9-basic">
        <span class="menu-title">Salary</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-briefcase-check menu-icon"></i>
      </a>
      <div class="collapse" id="ui9-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/payRollForUser">Generate Salary</a></li>
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/ApplyLoan">Apply For Loan</a></li>
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/applyArrears">Apply Arrears</a></li>
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/applyReimburshment">Apply Reimburshment</a></li>
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/applySalaryForSunday">Apply Salary For Sunday</a></li>
        </ul>
      </div>
    </li>

    {{!-- <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/ApplyLoan">
        <span class="menu-title">Apply For Loan</span>
        <i class="mdi mdi mdi-checkbox-multiple-marked-outline menu-icon"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/applyReimburshment">
        <span class="menu-title">Apply Reimburshment</span>
        <i class="mdi mdi mdi-checkbox-multiple-marked-outline menu-icon"></i>
      </a>
    </li> --}}

    {{!-- <li class="nav-item">
      <a class="nav-link loader" id="nav-link-id" href="/salaryView">
        <span class="menu-title">Generate Salary</span>
        <i class="mdi mdi-briefcase-check menu-icon"></i>
      </a>
    </li> --}}

    <li class="nav-item">
      <a class="nav-link "  data-bs-toggle="collapse" href="#ui1-basic" aria-expanded="false" aria-controls="ui1-basic">
        <span class="menu-title">Track Meeting</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-web menu-icon"></i>
      </a>
      <div class="collapse" id="ui1-basic">
        <ul class="nav flex-column sub-menu">
          {{!-- <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/attendanceBrowser">Attendance By Browse</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/attendanceMeetingIn">Meeting-in</a>
          </li>
          <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/attendanceMeetingOut">Meeting-out</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link "  data-bs-toggle="collapse" href="#ui2-basic" aria-expanded="false" aria-controls="ui2-basic">
        <span class="menu-title">Leave</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-calendar-edit menu-icon"></i>
      </a>
      <div class="collapse" id="ui2-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/leaveAppl">Leave Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/leaveTableuser">Leave List</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- <li class="nav-item sidebar-actions">
        <span class="nav-link loader" id="nav-link-id">
          <div class="border-bottom">
            <h6 class="font-weight-normal mb-3">Projects</h6>
          </div>
          <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
          <div class="mt-4">
            <div class="border-bottom">
              <p class="text-secondary">Categories</p>
            </div>
            <ul class="gradient-bullet-list mt-4">
              <li>Free</li>
              <li>Pro</li>
            </ul>
          </div>
        </span>
      </li> -->

    <li class="nav-item">
      <a class="nav-link " data-bs-toggle="collapse" href="#ui3-basic" aria-expanded="false" aria-controls="ui3-basic">
        <span class="menu-title">Travel Allowances</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-calendar-edit menu-icon"></i>
      </a>
      <div class="collapse" id="ui3-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/travelDistance">TA Report</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/travelMeeting">Meeting Location Tracker</a>
          </li> --}}
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link "  data-bs-toggle="collapse" href="#ui10-basic" aria-expanded="false" aria-controls="ui10-basic">
        <span class="menu-title">Office Letters</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-dropbox menu-icon"></i>
      </a>
      <div class="collapse" id="ui10-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link loader" href="/offerletter">Generate Offer Letter</a></li>
          <li class="nav-item"> <a class="nav-link loader" href="/terminationletter">Termination Letter</a></li>
          <li class="nav-item"> <a class="nav-link loader" href="/appointmentLetter">Appointment Letter</a></li>
          <li class="nav-item"> <a class="nav-link loader" href="/confirmationLetter">Confirmation Letter</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link "  href="/logout">
        <span class="menu-title">Sign Out</span>
        <i class="mdi mdi-logout menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const storedUsername = localStorage.username;
    const storedImagePath = localStorage.imagePath;
    const storedUserGroup = localStorage.userGroup;

    const profileImage = document.querySelector('.nav-profile-img img');
    const usernameElement = document.querySelector('.nav-profile-text .font-weight-bold');
    const userGroupElement = document.querySelector('.nav-profile-text .text-secondary');

    if (storedImagePath) {
      profileImage.src = '/profile/' + storedImagePath;
    }

    if (storedUsername) {
      usernameElement.textContent = storedUsername;
    }

    if (storedUserGroup) {
      userGroupElement.textContent = capitalizeFirst(storedUserGroup);
    }
  });

  function capitalizeFirst(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }
</script>
<script>
  // Function to show the loader
  function showLoader() {
    document.getElementById('preloader').style.display = 'flex';
  }

  // Function to hide the loader
  function hideLoader() {
    document.getElementById('preloader').style.display = 'none';
  }

  // Function to expand the parent nav-item if collapsed
  function expandParentNavItem(link) {
    let parentNavItem = link.closest('.nav-item');
    if (parentNavItem && !parentNavItem.classList.contains('show')) {
      let collapseElement = parentNavItem.querySelector('[data-bs-toggle="collapse"]');
      if (collapseElement) {
        new bootstrap.Collapse(collapseElement);
      }
    }
  }

  // Show loader when a link within a nav-item is clicked
  document.querySelectorAll('a.loader').forEach(function(link) {
    link.addEventListener('click', function(event) {
      let targetElement = event.target;
      // Check if the clicked link or any of its parent elements have the class 'nav-item'
      while (targetElement) {
        if (targetElement.classList.contains('nav-item')) {
          expandParentNavItem(link);
          showLoader();
          break;
        }
        targetElement = targetElement.parentElement;
      }
    });
  });

  // Hide loader when the page is fully loaded
  window.addEventListener('load', function () {
    hideLoader();
  });

  // Hide loader if the page has not fully loaded after 10 seconds
  setTimeout(function() {
    hideLoader();
  }, 30000); // Adjust timeout as needed
</script>

<script>

    // Show loader when the page starts loading
    document.addEventListener('DOMContentLoaded', function () {
      // Check if the 'partial' ID is present in the page
      if (!document.getElementById('partial')) {
        // If 'partial' is not found, show the loader
        document.getElementById('preloader').style.display = 'block';
      }
    });
  
    // Hide loader when the page is fully loaded
    window.addEventListener('load', function () {
      // Regardless of the 'partial' ID, hide the loader when the page fully loads
      document.getElementById('preloader').style.display = 'none';
    });
  </script>
<style>
  .waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); }

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i)); }

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0); }
  20% {
    transform: translateY(-20px); } }

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background-color: #fff; }
</style>