<!DOCTYPE html>
<html>

<head>
    <title>ScaleEdge</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body>
    <div class="container-scroller">
        {{>topbar}}
        <div class="container-fluid page-body-wrapper">
            {{> sidebar}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">

                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-arrow-left" onclick="goBack()" title="Back"></i>
                                <script>
                                    function goBack() {
                                        window.history.back();
                                    }
                                </script>
                            </span> Add Leave Details
                        </h3>
                    </div>
                    <form action="/addHoursDetails" method="post" id="formData">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div style="height:400px; overflow: auto;">

                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Total Working Hours</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each users}}
                                                        <tr>
                                                            <th scope="row">{{user_id}}</th>
                                                            <td>{{user_name}}</td>
                                                            <td><input type="text" class="input"
                                                                    value="{{total_hours}}"></td>

                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <button class="button mt-2" style="float: inline-end;">
                                    <p class="submit mt-2">Submit</p>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="assets/vendors/js/vendor.bundle.base.js"></script>
        <script src="assets/vendors/chart.js/Chart.min.js"></script>
        <script src="assets/js/off-canvas.js"></script>
        <script src="assets/js/hoverable-collapse.js"></script>
        <script src="assets/js/misc.js"></script>
        <script src="assets/js/dashboard.js"></script>
        <script src="assets/js/todolist.js"></script>
        <script src="/assets/js/jquery-2.1.1.min.js"></script>
        <script src="/assets/js/face-api.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>

<style>
    .button {
        width: 90px;
        height: 40px;
        position: relative;
        font-family: var(--font);
        color: #3b82f6;
        font-weight: 600;
        background-color: #fff;
        border: none;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        transition: all ease 100ms;
    }

    .button:hover {
        background-color: #cbdcf8;
    }

    .button:focus {
        background-color: #cbdcf8;
    }

    .button::before {
        content: 'done✅';
        position: absolute;
        color: #3b82f6;
        left: 0;
        top: -14px;
        right: 0;
        transition: all ease 300ms;
        opacity: 0%;
    }

    .button:focus::before {
        opacity: 100%;
        transform: translatey(26px);
    }

    .submit {
        transition: all ease 100ms;
        opacity: 100%;
    }

    .button:focus>.submit {
        opacity: 0%;
    }


    .input {
        border: 2px solid transparent;
        width: 15em;
        height: 2.5em;
        padding-left: 0.8em;
        outline: none;
        overflow: hidden;
        background-color: #FFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .input:hover,
    .input:focus {
        border: 2px solid #4A9DEC;
        box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
        background-color: white;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #video {
        margin-bottom: 10px;
        border-radius: 100%;
        max-width: 100%;
        height: auto;
    }

    #btn {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-top: 10px;
    }

    .button-20 {
        appearance: button;
        background-color: white;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
        border: 1px solid #4D4AE8;
        border-radius: 1rem;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        display: inline-block;
        font-family: Inter, sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        padding: .5rem 1rem;
        text-align: center;
        text-transform: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        flex: 0 0 auto;
    }

    .button-20:focus:not(:focus-visible),
    .button-20:focus {
        outline: 0;
    }

    .button-20:hover {
        background-color: skyblue;
        border-color: skyblue;
    }

    .button-20:focus {
        background-color: skyblue;
        border-color: skyblue;
        box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
    }

    .button-20:active {
        background-color: skyblue;
        background-image: none;
        border-color: skyblue;
        box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
    }

    .button-20:active:focus {
        box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
    }

    .button-20:disabled {
        background-image: none;
        box-shadow: none;
        opacity: .65;
        pointer-events: none;
    }

    @media (max-width: 768px) {
        #container {
            max-width: 90%;
        }

        .button-20 {
            font-size: 2.5rem;
        }
    }
</style>

<script>
    $('#formData').submit(function (event) {
        event.preventDefault();

        var hoursDetails = [];
        $('#formData tbody tr').each(function (index, element) {
            var user_id = $(this).find('th').text();
            var user_name = $(this).find('td:eq(0)').text();
            var total_hours = $(this).find('input:eq(0)').val();

            var detail = {
                user_id: user_id,
                user_name: user_name,
                total_hours: total_hours
            };

            hoursDetails.push(detail);
        });

        $.ajax({
            url: '/addHoursDetails',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(hoursDetails),
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Hours details added successfully!',
                    showConfirmButton: false,
                    timer: 1500
                });
                console.log(response);
                // Handle success response
            },
            error: function (xhr, status, error) {
                // Display error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred. Please try again later.',
                });
                console.error(error);
                // Handle error response
            }
        });
    });
</script>