<!DOCTYPE html>
<html>

<head>
    <title>Download Users</title>
</head>

<body>
    <button id="downloadButton">Download Users</button>
    <h2>Upload Users</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" accept=".xlsx">
        <button type="submit">Upload</button>
    </form>

    <div id="message"></div>

    <script>
        document.getElementById('downloadButton').addEventListener('click', () => {
            window.location.href = '/downloadUsers';
        });
    </script>
      <script>
    document.getElementById('uploadForm').addEventListener('submit', async (event) => {
      event.preventDefault();
      
      const formData = new FormData();
      const fileInput = document.getElementById('fileInput');
      formData.append('file', fileInput.files[0]);

      try {
        const response = await fetch('/uploadUsers', {
          method: 'POST',
          body: formData
        });

        if (response.ok) {
          alert('File uploaded successfully.');
        } else {
          const data = await response.json();
          alert(data.error || 'Failed to upload file.');
        }
      } catch (error) {
        console.error('Error:', error); 
        alert('An error occurred while uploading the file.');
      }
    });
  </script>
</body>

</html>