<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ScaleEdge</title>
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/javascripts/usermanagment.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/n.css">
  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

  <!-- Include Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@5.0.0/dist/apexcharts.min.css">

  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: transform 0.2s, box-shadow 0.2s;
    }



    .card-text {
      line-height: 1;
    }

    .digital-box {
      font-family: sans-serif;
      font-size: 1.5em;
      text-align: center;
      background-color: lightgray;
      color: #000;
      padding: 10px 16px;
      border-radius: 10px;
      /* Adjust the border radius as needed */
      margin: 5px;
      /* Add margin for spacing */
      display: inline-block;
      font-weight: 750;

    }

    .colon {
      font-size: 1.5em;
      display: inline-block;
      margin-top: 15px;
      font-weight: 800;
      /* Adjust the margin as needed */
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes blink {

      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0;
      }
    }

    @media (max-width:767px) {

      .digital-box {
        padding: 6px 7px !important;
      }
    }


    @media (max-width:600px) {

      .digital-box {
        padding: 6px 7px !important;
      }
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
  </style>


  <style>
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="/" style="font-weight: 800;color: blueviolet;"><i
            class="fa-solid fa-s fa-spin fa-lg" style="margin-right: 20px;"></i> ScaleEdge</a>
        <a class="navbar-brand brand-logo-mini" href="/" style="font-weight: 800;color: blueviolet;"><i
            class="fa-solid fa-s fa-spin fa-lg"></i></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <div class="search-field d-none d-md-block">
          <form class="d-flex align-items-center h-100" action="#">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 mdi mdi-magnify"></i>
              </div>
              <input type="text" id="searchInput" class="form-control bg-transparent border-0" placeholder="Search...">
            </div>
          </form>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-bs-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count-symbol bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <div id="birthdayNotifications">
                <!-- Birthday notifications will be appended here -->
              </div>
              <div class="dropdown-divider"></div>
              <h6 id="noNotificationsText" class="p-3 mb-0 text-center">No Notification!</h6>
            </div>

          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="" alt="image">
                <span class="availability-status online"></span>
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black font-weight-bold"></p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item loader" href="/userProfile">
                <i class="mdi mdi-cached me-2 text-success"></i> View Profile </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">
                <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
            </div>
          </li>

          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>



        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper p-0 " style="margin-top: 70px;">
      <div id="preloader">
        <div class="waviy">
          <span style="--i:1">L</span>
          <span style="--i:2">o</span>
          <span style="--i:3">a</span>
          <span style="--i:4">d</span>
          <span style="--i:5">i</span>
          <span style="--i:6">n</span>
          <span style="--i:7">g</span>
          <span style="--i:8">.</span>
          <span style="--i:9">.</span>
          <span style="--i:10">.</span>
        </div>
      </div>
      <div id="partial"></div>
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/userdashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link loader" id="report-user" href="/report_user">
              <span class="menu-title"> User Summary</span>
              <i class="mdi mdi-table-large menu-icon"></i>
            </a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link loader" id="nav-link-id" href="/facematchnew">
              <span class="menu-title">Attendance</span>
              <i class="mdi mdi-camera menu-icon"></i>
            </a>
          </li>
      
      
          <li class="nav-item">
            <a class="nav-link "  data-bs-toggle="collapse" href="#ui9-basic" aria-expanded="false" aria-controls="ui9-basic">
              <span class="menu-title">Salary</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-briefcase-check menu-icon"></i>
            </a>
            <div class="collapse" id="ui9-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/payRollForUser">Generate Salary</a></li>
                <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/ApplyLoan">Apply For Loan</a></li>
                <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/applyArrears">Apply Arrears</a></li>
                <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/applyReimburshment">Apply Reimburshment</a></li>
              </ul>
            </div>
          </li>
      
      
      
          <li class="nav-item">
            <a class="nav-link "  data-bs-toggle="collapse" href="#ui1-basic" aria-expanded="false" aria-controls="ui1-basic">
              <span class="menu-title">Track Meeting</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-web menu-icon"></i>
            </a>
            <div class="collapse" id="ui1-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link loader" id="nav-link-id" href="/attendanceMeetingIn">Meeting-in</a>
                </li>
                <li class="nav-item"> <a class="nav-link loader" id="nav-link-id" href="/attendanceMeetingOut">Meeting-out</a></li>
              </ul>
            </div>
          </li>
      
          <li class="nav-item">
            <a class="nav-link "  data-bs-toggle="collapse" href="#ui2-basic" aria-expanded="false" aria-controls="ui2-basic">
              <span class="menu-title">Leave</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-calendar-edit menu-icon"></i>
            </a>
            <div class="collapse" id="ui2-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link loader" id="nav-link-id" href="/leaveAppl">Leave Application</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link loader" id="nav-link-id" href="/leaveTableuser">Leave List</a>
                </li>
              </ul>
            </div>
          </li>
      
          <!-- <li class="nav-item sidebar-actions">
              <span class="nav-link loader" id="nav-link-id">
                <div class="border-bottom">
                  <h6 class="font-weight-normal mb-3">Projects</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
                <div class="mt-4">
                  <div class="border-bottom">
                    <p class="text-secondary">Categories</p>
                  </div>
                  <ul class="gradient-bullet-list mt-4">
                    <li>Free</li>
                    <li>Pro</li>
                  </ul>
                </div>
              </span>
            </li> -->
      
          <li class="nav-item">
            <a class="nav-link " data-bs-toggle="collapse" href="#ui3-basic" aria-expanded="false" aria-controls="ui3-basic">
              <span class="menu-title">Travel Allowances</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-calendar-edit menu-icon"></i>
            </a>
            <div class="collapse" id="ui3-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link loader" id="nav-link-id" href="/travelDistance">TA Report</a>
                </li>
              </ul>
            </div>
          </li>
      
          <li class="nav-item">
            <a class="nav-link "  data-bs-toggle="collapse" href="#ui10-basic" aria-expanded="false" aria-controls="ui10-basic">
              <span class="menu-title">Office Letters</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-dropbox menu-icon"></i>
            </a>
            <div class="collapse" id="ui10-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link loader" href="/offerletter">Generate Offer Letter</a></li>
                <li class="nav-item"> <a class="nav-link loader" href="/terminationletter">Termination Letter</a></li>
                <li class="nav-item"> <a class="nav-link loader" href="/appointmentLetter">Appointment Letter</a></li>
                <li class="nav-item"> <a class="nav-link loader" href="/confirmationLetter">Confirmation Letter</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link "  href="/logout">
              <span class="menu-title">Sign Out</span>
              <i class="mdi mdi-logout menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const storedUsername = localStorage.username;
          const storedImagePath = localStorage.imagePath;
          const storedUserGroup = localStorage.userGroup;
      
          const profileImage = document.querySelector('.nav-profile-img img');
          const usernameElement = document.querySelector('.nav-profile-text .font-weight-bold');
          const userGroupElement = document.querySelector('.nav-profile-text .text-secondary');
      
          if (storedImagePath) {
            profileImage.src = '/profile/' + storedImagePath;
          }
      
          if (storedUsername) {
            usernameElement.textContent = storedUsername;
          }
      
          if (storedUserGroup) {
            userGroupElement.textContent = capitalizeFirst(storedUserGroup);
          }
        });
      
        function capitalizeFirst(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        }
      </script>
      <script>
        var fullyLoaded = false; // Flag to track whether the page is fully loaded
      
        // Show preloader when page is being refreshed
        window.addEventListener('beforeunload', function () {
          if (!fullyLoaded) {
            document.getElementById('preloader').style.display = 'flex';
          }
        });
      
        document.addEventListener('DOMContentLoaded', function () {
          // Check if the 'partial' ID is present in the page
          if (!document.getElementById('partial')) {
            // If 'partial' is not found, show the loader
            document.getElementById('preloader').style.display = 'flex';
          }
        });
      
        // Hide loader when the page is fully loaded
        window.addEventListener('load', function () {
          fullyLoaded = true; // Set the flag to true when the page is fully loaded
          // Regardless of the 'partial' ID, hide the loader when the page fully loads
          document.getElementById('preloader').style.display = 'none';
        });
      
      </script>
      
      <style>
        .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); }
      
      .waviy span {
        position: relative;
        display: inline-block;
        font-size: 40px;
        color: #000;
        text-transform: uppercase;
        animation: waviy 1s infinite;
        animation-delay: calc(.1s * var(--i)); }
      
      @keyframes waviy {
        0%, 40%, 100% {
          transform: translateY(0); }
        20% {
          transform: translateY(-20px); } }
      
      #preloader {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99999;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        background-color: #fff; }
      </style>
      <div class="main-panel ">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
              </span> Dashboard
            </h3>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-xl-12 col-xxl-12">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col-xl-6">
                      <div class="card-bx bg-blue"
                        style="border-radius: 11px !important;">
                        <img class="pattern-img" src="images copy/pattern/pattern6.png" alt="">
                         <div class="card-info text-white">
                          <h3 class="text-white card-balance" id="greeting" style="font-size: 20px;">
                            Welcome Vivek! Have a Nice Day!
                          </h3>
                          <p class="fs-16" id="quote-text"></p>
                          <span id="quote-author"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="row  mt-xl-0 mt-4">
                        <div class="col-md-6">
                          <h4 class="card-title">Today Attendance Details</h4>
                          <ul class="card-list mt-4">
                            <li><span class="bg-blue circle"></span>Punch in time<span
                                id="firstInRecord">09:36:35</span></li>
                            <li><span class="bg-success circle"></span>Punch out time<span
                                id="firstOutRecord">00:00:00</span>
                            </li>
                            <li><span class="bg-warning circle"></span>Working Hours<span id="workingHours"></span></li>
                            <li><span class="bg-light circle"></span>Total Hours<span id="totalHours">09:00:00</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <canvas id="polarChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-6 col-xxl-6">
              <div class="card">

                <div class="card-body">
                  <div class="col-md-12">
                    <div id="line"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-xxl-6">
              <div class="card">
                <div class="card-body dark" id="dark">
                  <div class="calendar" style="float: none; scale: 0.9 ; " style="border-radius: 11px !important;">
                    <!-- CALENDAR HEADER START -->
                    <div class="calendar-header">
                      <span class="month-picker" id="month-picker">
                        February
                      </span>
                      <div class="year-picker">
                        <span class="year-change mt-2" id="prev-year">
                          <pre> < </pre>
                        </span>
                        <span id="year">2023</span>
                        <span class="year-change mt-2" id="next-year">
                          <pre> > </pre>
                        </span>
                      </div>


                    </div>

                    <!-- CALENDAR BODY START -->
                    <div class="calendar-body">
                      <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                      </div>
                      <div class="calendar-day">
                        <div>
                          1
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <div>7</div>
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <div>7</div>
                      </div>
                    </div>

                    <!-- CALENDAR FOOTER START -->
                    <div class="calendar-footer d-none ">
                      <div class="toggle ">
                        <span>Dark Mode</span>
                        <div class="dark-mode-switch">
                          <div class="dark-mode-switch-ident"></div>
                        </div>
                      </div>
                    </div>

                    <div class="month-list"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row invoice-card-row justify-content-center">
            <div class="col-xl-4 col-xxl-4 col-sm-6">

              <div class="card bg-success invoice-card">
                <div class="card-body d-flex">
                  <div class="icon me-3">
                    <svg width="35px" height="34px">
                      <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M32.482,9.730 C31.092,6.789 28.892,4.319 26.120,2.586 C22.265,0.183 17.698,-0.580 13.271,0.442 C8.843,1.458 5.074,4.140 2.668,7.990 C0.255,11.840 -0.509,16.394 0.514,20.822 C1.538,25.244 4.224,29.008 8.072,31.411 C10.785,33.104 13.896,34.000 17.080,34.000 L17.286,34.000 C20.456,33.960 23.541,33.044 26.213,31.358 C26.991,30.866 27.217,29.844 26.725,29.067 C26.234,28.291 25.210,28.065 24.432,28.556 C22.285,29.917 19.799,30.654 17.246,30.687 C14.627,30.720 12.067,29.997 9.834,28.609 C6.730,26.671 4.569,23.644 3.752,20.085 C2.934,16.527 3.546,12.863 5.486,9.763 C9.488,3.370 17.957,1.418 24.359,5.414 C26.592,6.808 28.360,8.793 29.477,11.157 C30.568,13.460 30.993,16.016 30.707,18.539 C30.607,19.448 31.259,20.271 32.177,20.371 C33.087,20.470 33.911,19.820 34.011,18.904 C34.363,15.764 33.832,12.591 32.482,9.730 L32.482,9.730 Z">
                      </path>
                      <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M22.593,11.237 L14.575,19.244 L11.604,16.277 C10.952,15.626 9.902,15.626 9.250,16.277 C8.599,16.927 8.599,17.976 9.250,18.627 L13.399,22.770 C13.725,23.095 14.150,23.254 14.575,23.254 C15.001,23.254 15.427,23.095 15.753,22.770 L24.940,13.588 C25.592,12.937 25.592,11.888 24.940,11.237 C24.289,10.593 23.238,10.593 22.593,11.237 L22.593,11.237 Z">
                      </path>
                    </svg>

                  </div>
                  <div>
                    <a href="/leaveTableuser">
                      <h2 class="text-white invoice-num">1</h2>
                      <span class="text-white fs-18">Leave Requests</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-xxl-4 col-sm-6">
              <div class="card bg-info invoice-card">
                <div class="card-body d-flex">
                  <div class="icon me-3">
                    <svg width="35px" height="34px">
                      <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M33.002,9.728 C31.612,6.787 29.411,4.316 26.638,2.583 C22.781,0.179 18.219,-0.584 13.784,0.438 C9.356,1.454 5.585,4.137 3.178,7.989 C0.764,11.840 -0.000,16.396 1.023,20.825 C2.048,25.247 4.734,29.013 8.584,31.417 C11.297,33.110 14.409,34.006 17.594,34.006 L17.800,34.006 C20.973,33.967 24.058,33.050 26.731,31.363 C27.509,30.872 27.735,29.849 27.243,29.072 C26.751,28.296 25.727,28.070 24.949,28.561 C22.801,29.922 20.314,30.660 17.761,30.693 C15.141,30.726 12.581,30.002 10.346,28.614 C7.241,26.675 5.080,23.647 4.262,20.088 C3.444,16.515 4.056,12.850 5.997,9.748 C10.001,3.353 18.473,1.401 24.876,5.399 C27.110,6.793 28.879,8.779 29.996,11.143 C31.087,13.447 31.513,16.004 31.227,18.527 C31.126,19.437 31.778,20.260 32.696,20.360 C33.607,20.459 34.432,19.809 34.531,18.892 C34.884,15.765 34.352,12.591 33.002,9.728 L33.002,9.728 Z">
                      </path>
                      <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M23.380,11.236 C22.728,10.585 21.678,10.585 21.026,11.236 L17.608,14.656 L14.190,11.243 C13.539,10.592 12.488,10.592 11.836,11.243 C11.184,11.893 11.184,12.942 11.836,13.593 L15.254,17.006 L11.836,20.420 C11.184,21.071 11.184,22.120 11.836,22.770 C12.162,23.096 12.588,23.255 13.014,23.255 C13.438,23.255 13.864,23.096 14.190,22.770 L17.608,19.357 L21.026,22.770 C21.352,23.096 21.777,23.255 22.203,23.255 C22.629,23.255 23.054,23.096 23.380,22.770 C24.031,22.120 24.031,21.071 23.380,20.420 L19.962,17.000 L23.380,13.587 C24.031,12.936 24.031,11.887 23.380,11.236 L23.380,11.236 Z">
                      </path>
                    </svg>

                  </div>
                  <div>
                    <a href="/userManualUpdate">
                      <h2 class="text-white invoice-num">0</h2>
                      <span class="text-white fs-18">Attendance Requests</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
    <dialog id="attendanceDialog" class="modal-dialog text-align-center" style="border: none; text-align:center;">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Attendance Options</h5>
          <button type="button" onclick="cancelAttendance2()" id="cancelBtn" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          <p id="dialogDate" class="fw-bold"></p>
          <button id="openAttendanceBtn" class="btn btn-success" onclick="openAttendanceDialog2()">+
            Attendance</button>
          <button id="addLeaveBtn" class="btn btn-danger d-none">+Leave</button>
        </div>
      </div>
    </dialog>

    <dialog id="attendanceInputDialog" class="modal-dialog text-align-center"
      style="border: none; text-align:center;">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Enter Attendance Data</h5>
          <button type="button" id="cancelAttendanceBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="cancelAttendance()"> </button>
        </div>
        <div class="modal-body">
          <form class="add-card" id="formData" method="post" action="/manualAttendanceDashboard">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Name<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="user_name" name="user_name" value="Vivek"
                      readonly />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Date<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="date" name="date" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Time<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <input type="time" class="form-control" id="time" name="time" step="1" required />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Type<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <select id="A_type" class="form-select" name="A_type" required>
                      <option value="">Select Type</option>
                      <option value="in" >Punch In</option>
                      <option value="out" >Punch Out</option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" hidden>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Latitude <span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" id="userLat" name="userLat" value="27.5944"
                      placeholder="latitude" readonly required />
                  </div>
                </div>
              </div>
              <div class="col-md-6" hidden>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Longitude <span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <input class="form-control" type="text" id="userLon" name="userLon" value="76.6167"
                      placeholder="longitude" readonly required />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Mark<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <select class="form-select" id="attendanceMark" name="attendanceMark" required>
                      <option value="">Select Attendance Mark</option>
                      <option value="Present" >Present
                      </option>
                      <option value="Halfday" >Halfday
                      </option>
                      <option value="Absent" >Absent
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Status<span
                      style="color: #e74c3c;font-size:17px;">*</span></label>
                  <div class="col-sm-9">
                    <select class="form-select" id="rangeStatus" name="rangeStatus" required>
                      <option value="">Select Field</option>
                      <option value="ok" >Ok</option>
                      <option value="onfield" >On Field
                      </option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <button type="submit" id="submit-btn" class="btn btn-gradient-primary me-2">Submit</button>
          </form>

        </div>
      </div>
    </dialog>
  </div>

  <script src="assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="assets/vendors/chart.js/Chart.min.js"></script>
  <script src="assets/js/jquery.cookie.js" type="text/javascript"></script>
  <script src="assets/js/off-canvas.js"></script>
  <script src="assets/js/hoverable-collapse.js"></script>
  <script src="assets/js/misc.js"></script>
  <script src="assets/js/dashboard.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/todolist.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>

</html>

<script>
  // Get the elements
  var firstInRecordElement = document.getElementById('firstInRecord');
  var firstOutRecordElement = document.getElementById('firstOutRecord');
  var workingHoursElement = document.getElementById('workingHours');

  // Get the values
  var firstInRecord = firstInRecordElement.textContent;
  var firstOutRecord = firstOutRecordElement.textContent;

  // Calculate working hours
  var workingHours = calculateWorkingHours(firstInRecord, firstOutRecord);

  // Display the result
  workingHoursElement.textContent = workingHours;

  function calculateWorkingHours(firstInRecord, firstOutRecord) {
    if (firstInRecord === "00:00:00" || firstOutRecord === "00:00:00") {
      return "00:00:00";
    }

    var inTime = new Date('1970-01-01T' + firstInRecord + 'Z');
    var outTime = new Date('1970-01-01T' + firstOutRecord + 'Z');

    var milliseconds = outTime - inTime;
    var seconds = milliseconds / 1000;
    var hours = Math.floor(seconds / 3600);
    seconds %= 3600;
    var minutes = Math.floor(seconds / 60);
    seconds %= 60;

    return pad(hours) + ':' + pad(minutes) + ':' + pad(seconds);
  }

  function pad(number) {
    if (number < 10) {
      return '0' + number;
    }
    return number;
  }
</script>
<script>
  var polarChart = function (firstInRecord, firstOutRecord, workingHours, totalHours) {
    var ctx = document.getElementById("polarChart").getContext('2d');
    Chart.defaults.global.legend.display = false;

    var myChart = new Chart(ctx, {
      type: 'polarArea',
      data: {
        labels: ["First In Record", "First Out Record", "Working Hours", "Total Hours"],
        datasets: [{
          backgroundColor: [
            "#496ecc",
            "#68e365",
            "#ffa755",
            "#c8c8c8"
          ],
          data: [parseTime(firstInRecord), parseTime(firstOutRecord), parseTime(workingHours), parseTime(totalHours)]
        }]
      },
      options: {
        maintainAspectRatio: false,
        scale: {
          scaleShowLine: false,
          display: false,
          pointLabels: {
            fontSize: 0
          },
        },
        tooltips: {
          enabled: true,
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function (tooltipItem, data) {
              var label = data.labels[tooltipItem.index];
              var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
              return label + ': ' + value.toFixed(3) + ' hours';
            }
          }
        }
      }
    });
  }

  // Function to parse time strings into hours
  function parseTime(timeString) {
    var parts = timeString.split(':');
    return parseFloat(parts[0]) + parseFloat(parts[1]) / 60 + parseFloat(parts[2]) / 3600;
  }

  // Get the values from the HTML elements
  var firstInRecordElement = document.getElementById('firstInRecord');
  var firstOutRecordElement = document.getElementById('firstOutRecord');
  var workingHoursElement = document.getElementById('workingHours');
  var totalHoursElement = document.getElementById('totalHours');

  // Convert the text content to appropriate data types if necessary
  var firstInRecord = firstInRecordElement.textContent;
  var firstOutRecord = firstOutRecordElement.textContent;
  var workingHours = workingHoursElement.textContent;
  var totalHours = totalHoursElement.textContent;

  // Call the polarChart function with the retrieved values
  polarChart(firstInRecord, firstOutRecord, workingHours, totalHours);

</script>
<script>
  // Define first in and first out records
  firstInRecord = "09:36:35";
  firstOutRecord = "00:00:00";

  // ApexCharts options
  var options = {
    series: [
      {
        name: 'Punch In Time',
        data: [firstInRecord, null] // Set first in record in the first position and null for first out record
      },
      {
        name: 'Punch Out Time',
        data: [null, firstOutRecord] // Set null for first in record and first out record in the second position
      }
    ],
    chart: {
      type: 'bar',
      height: 350
    },
    title: {
      text: 'Today Attendance Statistics',
      align: 'left',
      style: {
        fontSize: '16px',
        fontFamily: '"ubuntu-regular", sans-serif',
        fontWeight: 400,
        color: '#000000'
      }
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: '55%',
        endingShape: 'rounded'
      },
    },
    dataLabels: {
      enabled: true,
      formatter: function (val) {
        return val;
      }
    },
    stroke: {
      show: true,
      width: 2,
      colors: ['transparent']
    },
    xaxis: {
      categories: ['Punch In', 'Punch Out']
    },
    yaxis: {
      title: {}
    },
    fill: {
      opacity: 1
    }
  };

  // Initialize ApexCharts
  var chart = new ApexCharts(document.querySelector("#line"), options);
  chart.render();
</script>


<style>
  @media (max-width: 767px) {

    /* Apply only on small screens */
    .order {
      display: flex;
      flex-direction: column;
    }

    .first {
      flex-direction: column;

      order: -1;
      /* Reverses the order */
    }
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="/assets/js/selfiedashboard.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("formData").addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission

      var formData = new FormData(this); // Create a FormData object containing the form data

      var xhr = new XMLHttpRequest(); // Create a new XMLHttpRequest object

      // Configure the request
      xhr.open("POST", "/manualAttendanceDashboard", true);

      // Set up the onload handler to handle the response
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText); // Parse the JSON response
          toastr.success(response.message); // Display success message using Toastr
          cancelAttendance();
          cancelAttendance2(); // Call the cancelAttendance function

        } else {
          toastr.error("Error: " + xhr.statusText); // Display error message using Toastr
        }
      };

      // Set up the onerror handler to handle errors
      xhr.onerror = function () {
        toastr.error("Request failed."); // Display error message using Toastr
      };

      // Send the request
      xhr.send(formData);
    });
  });
</script>


<script>
  //Dark Mode Toggle
  document.querySelector('.dark-mode-switch').onclick = () => {
    document.querySelector('#dark').classList.toggle('light');
    document.querySelector('#dark').classList.toggle('dark');
  };

  //Check Year
  isCheckYear = (year) => {
    return (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0)
      || (year % 100 === 0 && year % 400 === 0)
  };

  getFebDays = (year) => {
    return isCheckYear(year) ? 29 : 28
  };

  let calendar = document.querySelector('.calendar');
  const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  let monthPicker = document.querySelector('#month-picker');

  monthPicker.onclick = () => {
    monthList.classList.add('show')
  };

  //Generate Calendar
  generateCalendar = (month, year) => {
    let calendarDay = document.querySelector('.calendar-day');
    calendarDay.innerHTML = '';

    let calendarHeaderYear = document.querySelector('#year');
    let daysOfMonth = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
    let currDate = new Date();

    monthPicker.innerHTML = monthNames[month];
    calendarHeaderYear.innerHTML = year;

    let firstDay = new Date(year, month, 1);

    for (let i = 0; i <= daysOfMonth[month] + firstDay.getDay() - 1; i++) {
      let day = document.createElement('div')
      if (i >= firstDay.getDay()) {
        day.classList.add('calendarDayHover')
        day.innerHTML = i - firstDay.getDay() + 1
        day.innerHTML += `<span></span>
                             <span></span>
                             <span></span>
                             <span></span>`
        if (i - firstDay.getDay() + 1 === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()) {
          day.classList.add('currDate')
        }

      }
      calendarDay.appendChild(day)
    };
  };

  let monthList = calendar.querySelector('.month-list');
  monthNames.forEach((e, index) => {
    let month = document.createElement('div')
    month.innerHTML = `<div>${e}</div>`
    month.onclick = () => {
      monthList.classList.remove('show')
      currMonth.value = index
      generateCalendar(currMonth.value, currYear.value)
    }
    monthList.appendChild(month)
  });

  document.querySelector('#prev-year').onclick = () => {
    --currYear.value
    generateCalendar(currMonth.value, currYear.value)
  };

  document.querySelector('#next-year').onclick = () => {
    ++currYear.value
    generateCalendar(currMonth.value, currYear.value)
  };

  let currDate = new Date();
  let currMonth = { value: currDate.getMonth() };
  let currYear = { value: currDate.getFullYear() };

  generateCalendar(currMonth.value, currYear.value);

  const openAttendanceDialog = (date) => {
    const dialogDate = document.querySelector('#dialogDate');
    dialogDate.textContent = `Selected Date: ${monthNames[currMonth.value]} ${date}, ${currYear.value}`;

    const attendanceDialog = document.querySelector('#attendanceDialog');
    attendanceDialog.showModal();
  };

  // Add click event listener to each calendar day
  document.querySelectorAll('.calendar-day div').forEach((day) => {
    day.addEventListener('click', (event) => {
      const selectedDate = event.target.textContent.trim();
      if (selectedDate !== '') {
        openAttendanceDialog(selectedDate);
      }
    });
  });



</script>

<script>
  function openAttendanceDialog2() {
    var attendanceInputDialog = document.getElementById('attendanceInputDialog');
    attendanceInputDialog.showModal();

    // Set the value of the date input field in "yyyy-MM-dd" format
    var dialogDateValue = document.getElementById('dialogDate').textContent;

    // Convert the dialogDateValue to a Date object
    var formattedDate = new Date(dialogDateValue);

    // Add one day to the date
    formattedDate.setDate(formattedDate.getDate() + 1);

    // Format the date as "yyyy-MM-dd"
    formattedDate = formattedDate.toISOString().split('T')[0];

    document.getElementById('date').value = formattedDate;
  }

  function cancelAttendance() {
    var attendanceInputDialog = document.getElementById('attendanceInputDialog');
    attendanceInputDialog.close();
  }

  function cancelAttendance2() {
    var attendanceDialog = document.getElementById('attendanceDialog');
    attendanceDialog.close();
  }
</script>



<style>
  .graph {
    position: relative;
    bottom: 154px;
  }

  @media (min-width: 280px) and (max-width: 700px) {
    .graph {
      position: relative;
      bottom: 0px !important;
    }
  }

  :root {
    --dark-body: #4D4C5A;
    --dark-main: #141529;
    --dark-second: #79788C;
    --dark-hover: #323048;
    --dark-text: #F8FBFF;

    --light-body: #F3F8FE;
    --light-main: #FDFDFD;
    --light-second: #C3C2C8;
    --light-hover: #EDF0F5;
    --light-text: #151426;

    --green: #03C988;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
  }

  .dark {

    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
  }

  .light {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
  }





  .calendar {
    height: max-content;
    background-color: var(--bg-main);
    border-radius: 21px;
    padding: -10px;
    padding-right: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 10px;
  }

  .light .calendar {
    box-shadow: var(--shadow);
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 0px;
  }

  .calendar-body {
    padding: 0px;
  }

  .calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50px;
  }

  .calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
  }

  .calendar-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
  }

  .calendar-day div {
    width: 38px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }

  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .month-picker:hover {
    background-color: var(--color-hover);
  }

  .year-picker {
    display: flex;
    align-items: center;
  }

  .year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  .year-change:hover {
    background-color: var(--color-hover);
  }

  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .toggle {
    display: flex;
  }

  .toggle span {
    margin-right: 10px;
    color: var(--color-txt);
  }

  .dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
  }

  .dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2 ease-in-out;
  }

  .dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
  }

  .calendar-day div span {
    position: absolute;
  }

  .calendar-day div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }

  .calendar-day div span:nth-child(1),
  .calendar-day div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
  }

  .calendar-day div:hover span:nth-child(1),
  .calendar-day div:hover span:nth-child(3) {
    height: 100%;
  }

  .calendar-day div span:nth-child(1) {
    bottom: 0;
    left: 0;
  }

  .calendar-day div span:nth-child(3) {
    top: 0;
    right: 0;
  }

  .calendar-day div span:nth-child(2),
  .calendar-day div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
  }

  .calendar-day div:hover span:nth-child(2),
  .calendar-day div:hover span:nth-child(4) {
    width: 100%;
  }

  .calendar-day div span:nth-child(2) {
    top: 0;
    left: 0;
  }

  .calendar-day div span:nth-child(4) {
    bottom: 0;
    right: 0;
  }

  .calendar-day div:hover span:nth-child(2) {
    transition-delay: 0.2s;
  }

  .calendar-day div:hover span:nth-child(3) {
    transition-delay: 0.4s;
  }

  .calendar-day div:hover span:nth-child(4) {
    transition-delay: 0.6s;
  }

  .calendar-day div.currDate {
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
  }

  .calendar-day div.currDate span {
    display: none;
  }

  .month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    color: var(--color-txt);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
  }

  .month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
  }

  .month-list>div {
    display: grid;
    place-items: center;
  }

  .month-list>div>div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  .month-list>div>div:hover {
    background-color: var(--color-hover);
  }

  @keyframes to-top {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  function fetchAndDisplayQuote() {
    fetch('quotes.json')
      .then((response) => response.json())
      .then((data) => {
        const quotes = data.quotes;
        const quoteText = document.getElementById('quote-text');
        const quoteAuthor = document.getElementById('quote-author');

        const currentDate = new Date();
        const dayOfYear = Math.floor((Date.UTC(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate()) - Date.UTC(currentDate.getFullYear(), 0, 0)) / (1000 * 60 * 60 * 24));
        const index = dayOfYear % quotes.length;

        const quote = quotes[index];
        quoteText.textContent = quote.quote;
        quoteAuthor.textContent = quote.author;
      })
      .catch((error) => {
        console.error('Error fetching quotes:', error);
      });
  }

  fetchAndDisplayQuote();
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var greetingElement = document.getElementById('greeting');
    var currentTime = new Date().getHours();

    var isBirthday = false; // Make sure isBirthday is correctly set in your template engine
  if (isBirthday) {
    greetingElement.textContent = ' Happy Birthday, Vivek! ';
  } else {
    if (currentTime >= 9 && currentTime < 11) {
      greetingElement.textContent = 'Good Morning, Vivek Have a Nice Day!';
    } else if (currentTime >= 11 && currentTime < 16) {
      greetingElement.textContent = 'Good Afternoon, Vivek Have a Nice Day!';
    } else {
      greetingElement.textContent = 'Good Evening, Vivek Have a Nice Day!';
    }
  }
    });
</script>


<script>
  // Fetch birthdays from your API
  fetch('/birthday-users')
    .then(response => response.json())
    .then(birthdayUsers => {
      const birthdayNotificationsContainer = document.getElementById('birthdayNotifications');
      const noNotificationsText = document.getElementById('noNotificationsText');

      if (birthdayUsers.length > 0) {
        birthdayUsers.forEach(user => {
          const notificationItem = document.createElement('a');
          notificationItem.classList.add('dropdown-item', 'preview-item');

          notificationItem.innerHTML = `
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <img src="/profile/${user.image_path}" alt="">
              </div>
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
              <h6 class="preview-subject font-weight-normal mb-1">${user.user_name}</h6>
              <p class="text-gray ellipsis mb-0">  Happy Birthday!  </p>
            </div>
          `;

          birthdayNotificationsContainer.appendChild(notificationItem);
        });

        noNotificationsText.style.display = 'none';
      } else {
        noNotificationsText.style.display = 'block';
      }
    })
    .catch(error => console.error('Error fetching birthday notifications:', error));
</script>